:root {
	--color-primary: #eb2f64;
	--color-primary-light: #ff3366;
	--color-primary-dark: #ba265d;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;

	--color-black: #111;
	--color-pink: #e83e8c;

	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

	--line: 1px solid var(--color-grey-light-2);

	--default-fontsize: 1.6rem;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include respond(tab-land) {
		// width < 1200?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) {
		// width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12, 12/16
	}
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
}

#root {
	display: flex;
	justify-content: center;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.App__container {
	width: 100%;
	max-width: 1450px;
}
