.cart {
	position: relative;
	position: relative;
	padding: 10rem 0px 8rem;
	min-height: 100vh;

	&__row {
		padding: 2rem 2rem;
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
	}

	&__left {
	}

	&__right {
		&--card {
			position: sticky;
			top: 20%;
		}
	}
	&__items {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0.2rem;

		&--imgWrapper {
			width: 100%;
			height: 8rem;

			&-img {
				width: auto;
				min-width: 50px;
				height: auto;
				min-height: 85%;
				max-height: 100%;
			}
		}

		&--details {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;

			&-name {
				max-width: 50%;
				min-width: 30%;
				text-align: left;
				margin-left: 20px;
			}

			&-price {
			}

			&-form {
				font-size: 1.6rem;
			}

			&-btn {
				outline: none;
				border: none;
				font-size: 2rem;
				background: none;
				color: black;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.cart {
		position: relative;
		position: relative;
		padding: 10rem 0px 7rem;

		&__row {
			padding: 0px;
		}

		&__right {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;
		}
	}
}

@media only screen and (max-width: 578px) {
	.cart {
		position: relative;
		position: relative;
		padding: 10rem 0px 7rem;

		&__items {
			&--imgWrapper {
				width: 20%;
				height: 8rem;
			}

			&--details {
				display: block;
				width: 80%;

				&-name {
					max-width: 50%;
					min-width: 30%;
					text-align: left;
					margin-left: 20px;
				}

				&-price {
					/* max-width: 50%; */
					/* min-width: 30%; */
					text-align: left;
					display: inline-block;
					/* margin-left: 20px;*/
				}

				&-form {
					font-size: 1.6rem;
					position: absolute;
					top: 0;
					left: 65%;
				}

				&-price {
					position: absolute;
					bottom: 0;
					right: 0;
				}

				&-btn {
					position: absolute;
					top: 0;
					right: 0;
					background: none;
					color: black;
					font-size: 2rem;
					padding: 0px;
				}
			}
		}

		&__right {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;

			.cart__right--card {
				position: fixed;
				top: auto;
				bottom: 5px;
				left: 0px;
				width: 100%;
				z-index: 0;
			}
		}
	}
}
