.section {
	padding: 6.5rem 3rem;
	overflow-x: hidden;

	&__categories {
		height: 100vh;
		scroll-snap-align: start;
		box-sizing: border-box;
		background-color: whitesmoke;
	}

	&__servicePromise {
		background-color: whitesmoke;
		width: 100%;
	}

	&__hobbies {
		width: 100%;
		background-color: rgb(231, 230, 230);
	}

	&__trending {
		overflow: hidden;
	}

	&__girlBanner {
		width: 100%;
		height: 400px;
		background-image: url(/Images/tachen-bg.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
	}

	&__shoesProduct {
		width: 100%;
	}

	&__featuredProducts {
		width: 100%;
		padding-bottom: 1rem !important;
	}

	&__mostViewed {
		background: linear-gradient(150deg, #fff 30%, #bbddec 130.1%);
	}
}

@media only screen and (max-width: 900px) {
	.section {
		padding: 5rem 1rem;

		&__featuredProducts {
			.nav {
				font-size: 1.6rem;
				justify-content: center;
				margin-bottom: 2rem;
			}
		}

		&__girlBanner {
			background-position: right;
		}
	}
}

@media only screen and (max-width: 500px) {
	.section {
		padding: 5rem 1rem;

		&__featuredProducts {
			& .nav-link {
				width: 70px;
			}
		}

		&__hobbies {
			width: 100%;
			background-color: rgb(231, 230, 230);
			padding: 5rem 0rem;
		}
	}
}
