.section__allProducts {
	padding: 6.5rem 1.5rem;
	overflow-x: initial !important;

	& .sectionHeading {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}

.allProducts {
	&__wrapper {
		display: flex;
		position: relative;
	}

	&__content {
		flex-grow: 1;
	}

	&__sidebar {
		flex: 0 0 20%;
	}

	&__filterBtn {
		display: none;
	}

	&__filter {
		position: sticky;
		top: 20%;
	}

	&__products {
		width: 100%;
		display: grid;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}

@media only screen and (max-width: 778px) {
	.allProducts {
		&__sidebar {
			display: none;
			margin-right: -1000px;
			top: 0px;
			right: 0;
			width: 70%;

			&.showFilter {
				display: block;
				z-index: 100;
				position: fixed;
				top: 94px;
				right: 0;
				width: 70%;
				background: white;
				margin: 0;
				padding: 1rem;
			}
		}

		&__filterBtn {
			position: sticky;
			top: 95px;
			left: 0px;
			background-color: #e7f4fa;
			padding: 0.5rem;
			border-radius: 0px 3rem 3rem 0rem;
			width: 79px;
			z-index: 2;
			font-size: 16px;
			text-align: center;
			display: block;
		}
	}
}
