.shop__dropdown:hover .sdropdown {
	display: flex;
}

.sdropdown {
	width: 60vw;
	height: 70vh;
	position: absolute;
	top: 100%;
	padding: 3rem;
	background-color: transparent;
	z-index: 1;

	display: none;
	flex-direction: row;
	transition: all 0.7s;

	&__content {
		padding: 1.5rem;
		background-color: #fafdfc;
		z-index: 2;
		width: 100%;
		height: 100%;
		position: relative;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		display: flex;
		justify-content: space-between;

		&--1 {
		}
		&--2 {
		}
	}
	&__linksWrapper {
		z-index: 3;
		list-style-type: none;
		line-height: 2.6rem;
	}

	&__link {
		margin: 0.8rem 0px;
		font-size: 1.6rem;
		transition: all 0.6s;
		z-index: 2;

		& a,
		& a:hover,
		& a:focus,
		& a:active {
			text-decoration: none;
		}

		&:hover {
			list-style-type: disc;
			margin-left: 0.6rem;
			transform: scaleY(1.1);
		}

		&::before {
			content: '';
			width: 0.6rem;
			height: 0.6rem;
			border-radius: 50%;
			background-color: violet;
		}
	}

	&__imageWrapper {
		width: 20rem;
		height: 30rem;
		padding: 2rem;
		overflow: hidden;
		z-index: 0;
		& img {
			width: 72%;
			height: 90%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
		}
	}
}
