.checkboxes {
	&__sizeFilter,
	&__colorFilter {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		& input {
			display: none;
		}

		& label {
			background-color: #e7f4fa;
			color: black;
			margin-bottom: 0.5rem;
			width: 4rem;
			height: 4rem;
			padding: 0.5rem;
			display: flex;
			margin-right: 0.6rem;
			justify-content: center;
			font-size: 1.6rem;
		}
	}

	&__colorFilter {
		justify-content: space-between;
		& label {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
		}
	}
}
