.filter {
	&__gender {
		& input {
			margin-right: 6px;
		}
	}
	&__size,
	&__color {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		& input {
			display: none;
		}

		& label {
			background-color: #e7f4fa;
			color: black;
			margin-bottom: 0.5rem;
			width: 4rem;
			height: 4rem;
			padding: 0.5rem;
			display: flex;
			margin-right: 0.6rem;
			justify-content: center;
			font-size: 1.6rem;
			cursor: pointer;
			opacity: 0.8;
		}
	}

	&__size {
		&--label-active {
			border: 2px red solid;
			opacity: 1;
		}
	}
	&__color {
		justify-content: space-between;

		& label {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			cursor: pointer;
		}
	}

	&__price {
		&--input {
			margin-right: 1rem;
		}

		& form {
			width: 100%;
			margin-top: 0.5rem;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& input {
				width: 45%;
			}

			& button {
				padding: 0 0.5rem;
				margin-top: 0.4rem;
			}
		}
	}

	&__brand {
		& input {
			margin-right: 1rem;
		}
	}
}
