.gentle {
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: flex-start;

	&__image--wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.2;

		& img {
			width: 90%;
			height: auto;
		}

		& button {
			font-size: 1.6rem;
		}
	}

	&__items--wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__tabs--wrapper {
		flex: 0.8;
		display: flex;
		flex-direction: column;
	}

	.nav-tabs {
		font-size: 1.6rem;
		margin-bottom: 20px;
		border: red solid 2px;
		justify-content: space-evenly;
		overflow: hidden;
		letter-spacing: 0.2rem;
		font-weight: 400;
	}

	.tab-content {
		position: relative;
		align-self: center;
	}
	&__item {
		width: 17rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: center;
		overflow: hidden;

		& img {
			min-width: 8rem;
			height: 20rem;
		}

		&--btn {
			padding: 2px;
			font-size: 1.6rem;
		}

		&--1 {
			background-color: yellowgreen;
		}

		&--2 {
			background-color: rgb(18, 26, 3);
		}

		&--3 {
			background-color: rgb(179, 21, 113);
		}
		&--4 {
			background-color: rgb(21, 71, 179);
		}
	}
}
