.gentle {
	padding: 10px;
	width: 100%;
	display: flex;

	&__image--wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0.4;

		& img {
			width: 60%;
			height: auto;
		}
	}

	&__items--wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__tabs--wrapper {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
		flex: 0.7;
	}

	.nav-tabs {
		font-size: 1.6rem;
		margin-bottom: 20px;
		border: red solid 2px;
		justify-content: space-evenly;
		overflow: hidden;
	}
	&__item {
		width: 170px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: center;
		overflow: hidden;

		& img {
			min-width: 80px;
			height: 20rem;
		}

		&--btn {
			padding: 2px;
			font-size: 1.6rem;
		}

		&--1 {
			background-color: yellowgreen;
		}

		&--2 {
			background-color: rgb(18, 26, 3);
		}

		&--3 {
			background-color: rgb(179, 21, 113);
		}
		&--4 {
			background-color: rgb(21, 71, 179);
		}
	}
}
