.main__wrapper {
	box-sizing: border-box;
}

.row {
	margin: 0px !important;
}
input {
	font-size: 1.5rem;
	border-radius: 7px;
	border: none;
	width: 98%;
	display: block;
	transition: all 0.3s;
	padding: 12px 10px;
	color: black;
	background: #e7f4fa;
	margin-bottom: 10px;
	outline: none;
	line-height: 24px;
	width: 100%;

	&--sm {
		padding: 0.3rem 0.2rem 0.3rem 0.9rem;
	}

	&:focus,
	&-internal-autofill-selected {
		outline: none;
		box-shadow: 0 1rem 2rem rgba(black, 0.1);
		color: var(--textColorDark);
		background-color: var(--colorPrimaryDark) !important;
		border-bottom: 3px solid rgb(204, 9, 9);
	}

	&:focus:invalid {
		border-bottom: 3px solid var(--colorTertiary);
	}

	&:focus:valid {
		border-bottom: 3px solid var(--textColorDark);
	}

	&::-webkit-input-placeholder {
		color: black;
	}
}

.btn,
button,
.button {
	// font-size: 1.5rem;
	// padding: 6px 15px;
	margin: 0px;
	font-size: 1.5rem;
	padding: 0.6rem 2.5rem;
	outline: none;
	background-color: black;
	color: white;
	border: none;
	border-radius: 20px;

	&:hover {
		color: white;
		opacity: 0.8;
	}

	&:active,
	&:focus {
		outline: none;
	}
}

////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
	border: none;
	color: var(--color-primary);
	font-size: inherit;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;

	& span {
		margin-left: 3px;
		padding: 0px 0px;
		font-size: 2.7rem;
		transition: margin-left 0.2s;
		color: var(--color-black);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		color: var(--color-black);
		animation: pulsate 1s infinite;

		span {
			margin-left: 8px;
		}
	}

	&:focus {
		outline: none;
	}
}

// /* width */
// ::-webkit-scrollbar {
// 	width: 15px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
// 	//box-shadow: inset 0 0 5px grey;
// 	border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// 	background: #0b9d8a;
// 	border-radius: 10px;
// }

/* width */
::-webkit-scrollbar {
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0b9d8a;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
