// **************** Home ****************
.fullHeader {
	padding: 0px;
	background: url(../../Images/main-bgblank.jpg) no-repeat center/cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&__inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		width: 50%;

		// align-self: end;
		// margin-top: 7rem;
		// margin-right: 7rem;
	}

	&__left {
		width: 50%;
		height: 100vh;
		display: flex;
		position: relative;
	}

	&__imgWrapper {
		display: flex;
		justify-content: flex-start;
		position: relative;
		align-self: flex-end;
		height: 95%;

		&::before {
			content: '';
			width: 50%;
			height: 60%;
			border: 4px solid grey;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 30%;
			transform: translate(-50%, -50%);
			z-index: 0;
			opacity: 0.2;
		}

		img {
			vertical-align: middle;
			border-style: none;
			width: auto;
			max-width: 90%;
			z-index: 1;
			height: auto;
		}
	}

	&__rotatingText {
		position: absolute;
		top: 50%;
		right: 11%;
		font-size: 2rem;
		transform: translate(0%, -50%) rotate(90deg);
		color: black;
	}

	&__socialIcons {
		position: absolute;
		top: 85%;
		right: 25%;
		font-size: 2rem;
		transform: translate(0%, -50%);
		display: flex;
		justify-content: space-between;
		width: 8rem;
		color: black;
	}
}

.fullHeader__content {
	margin-right: 0.2rem;
}

.fullHeader__suptitle {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.7rem;
	text-transform: uppercase;
}

.fullHeader__title {
	font-weight: bold;
	font-size: 10rem;
	line-height: 7rem;
	letter-spacing: -3.6px;
	font-family: ui-serif;
	text-transform: uppercase;
}

.fullHeader__text {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.7rem;
}

.fullHeader__buttons {
	margin-top: 2.7rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.fullHeader__buttons .btn__primary:first-child {
	margin-right: 3.5rem;
}
