// **************** Home ****************
.fullHeader {
	padding: 0px;
	background: url(../../Images/main-bgblank.jpg) no-repeat center/cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&__inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		width: 50%;

		// align-self: end;
		// margin-top: 7rem;
		// margin-right: 7rem;
	}

	&__imgWrapper {
		display: flex;
		justify-content: center;
		height: 100%;
		position: relative;
		width: 50%;

		&::before {
			content: '';
			width: 60%;
			height: 70%;
			border: 2px solid black;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
			opacity: 0.2;
		}

		&::after {
			content: '';
			width: 70%;
			height: 20%;
			border: 2px solid black;
			position: absolute;
			top: 88%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
			opacity: 1;
			background: green;
			z-index: 2;
		}

		img {
			vertical-align: middle;
			border-style: none;
			width: 70%;
			z-index: 1;
			height: 100%;
		}
	}
}

.fullHeader__content {
	margin-right: 0.2rem;
}

.fullHeader__suptitle {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.7rem;
	text-transform: uppercase;
}

.fullHeader__title {
	font-weight: bold;
	font-size: 6rem;
	line-height: 7rem;
	text-transform: uppercase;
}

.fullHeader__text {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.7rem;
}

.fullHeader__buttons {
	margin-top: 2.7rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.fullHeader__buttons .btn__primary:first-child {
	margin-right: 3.5rem;
}
