.feature {
	//min-height: 100vh;
}

.feature .row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 2rem 0;
	margin: 3rem auto;
	width: 95%;
	background: #fff;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
}

.feature .row .image-container {
	display: flex;
	align-items: center;
}

.feature .row .image-container .big-image img {
	height: 30rem;
	margin: 2rem 0;
	filter: drop-shadow(0 0.1rem 0.5rem #000);
}

.feature .row .image-container .small-image {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.feature .row .image-container .small-image img {
	height: 6rem;
	padding: 1rem;
	margin: 1rem;
	border: 0.1rem solid #666;
	cursor: pointer;
}

.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover {
	border: 0.2rem solid var(--blue);
}

.feature .row .content {
	padding-left: 6rem;
}

.feature .row .content h3 {
	font-size: 3rem;
	color: var(--blue);
}

.feature .row .content .stars i {
	color: orange;
	padding: 1rem 0;
}

.feature .row .content .stars span {
	font-size: 2rem;
	color: #666;
}

.feature .row .content p {
	color: #333;
	width: 40rem;
	font-size: 2rem;
	padding: 2rem 0;
}

.feature .row .content .price {
	color: #ff3300;
	font-size: 2rem;
	position: relative;
}

.feature .row .content .price span {
	color: #666;
	text-decoration: line-through;
	font-size: 1.5rem;
}

.feature .row .content .btn {
	margin-left: 2rem;
}
