.mostViewed {
	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2rem 0;
		margin: 3rem auto;
		width: 95%;
		background: #fff;
		box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
		border-radius: 1rem;
	}

	&__imageContainer {
		display: flex;
		align-items: center;

		&--big-image img {
			height: 30rem;
			margin: 2rem 0;
			filter: drop-shadow(0 0.1rem 0.5rem #000);
		}

		&--small-image {
			display: flex;
			justify-content: center;
			flex-flow: column wrap;

			& img {
				height: 6rem;
				padding: 1rem;
				margin: 1rem;
				border: 0.1rem solid #666;
				cursor: pointer;
				&.image-active {
					border: 0.2rem solid var(--blue);
				}
				&:hover {
					border: 0.2rem solid var(--blue);
				}
			}
		}
	}

	&__content {
		padding-left: 6rem;

		&--price {
			color: #ff3300;
			font-size: 2rem;
			position: relative;

			& span {
				color: #666;
				text-decoration: line-through;
				font-size: 1.5rem;
			}
		}

		& h3 {
			font-size: 3rem;
			color: var(--blue);
		}

		&--stars {
			& i {
				color: orange;
				padding: 1rem 0;
			}

			& span {
				font-size: 2rem;
				color: #666;
			}
		}

		&--desc {
			color: black;
			width: 40rem;
			font-size: 2rem;
			padding: 2rem 0;
		}

		&--btn {
			margin-left: 2rem;
			font-size: 1.6rem;
			padding: 10px 20px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.mostViewed {
		&__content {
			padding-left: 1rem;
			text-align: left;
			width: 100%;

			&--desc {
				color: black;
				/* width: 40rem; */
				font-size: 1.6rem;
				padding: 2rem 0;
			}
		}
	}
}
