.owl-carousel {
	padding: 0px 10px;
}

.owl-carousel .owl-stage-outer {
	overflow: hidden;
	height: 320px;
}

.owl-prev,
.owl-next {
	background: white;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	font-size: 150px;
	position: absolute;
	top: 0;
	outline: none;
	opacity: 0.3;

	& span {
		font-size: 150px;

		&:focus {
			outline: none;
		}
	}

	&:hover & .owl-prev span,
	.owl-next span {
		background: white;
		color: red;
		text-decoration: none;
	}

	&:hover {
		background-color: transparent;
		color: black;
		opacity: 0.2;
	}
	&:focus {
		background: none;
		color: inherit;
		border: none;
		padding: 0 !important;
		font: inherit;
		outline: none;
	}
}

.owl-next {
	right: 0;
}

.owl-prev {
	left: 0;
}
