.servicePromise {
	width: 100%;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	padding: 0px 6rem;
	align-items: center;
	justify-items: center;
	grid-gap: 1rem;

	&__item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0 1.2rem;

		&-desc {
			font-size: 1.5rem;
			color: var(--color-black);
		}
		& img {
			width: 6rem;
			height: auto;
			margin-right: 1.5rem;
		}
	}
}
